/* 属性重置 */

body, div, p, ul, ol, dl, dt, dd, li, form, input, table, th, td, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-family: "Microsoft Yahei";
}

p {
  line-height: 1.6
}

h1, h2, h3 {
  line-height: 2
}

em, b, i {
  font-style: normal;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #45b6f7;
  transition-duration: 0.25s, 0.25s;
}

li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.flt {
  float: left;
}

.frt {
  float: right;
}

.mb-20{
  margin-bottom: 20px;
}

/*清除浮动*/

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* web-blog */

.module-header {
  height: 110px;
  z-index: 1;
  background-color: #fff;
}

.header-inner {
  position: relative;
}

.site-search{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100px;background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.site-search.search-show{
  top: 110px;
  z-index: 2;
  transition:
}

.site-search .search-box{
  padding: 25px 20%;
  display: inline-block;
  text-align: center;
}

.site-search-form .site-search-input{
  float: left;
  width: 612px;
  height: 50px;
  padding: 4px 12px;
  color: #999;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 2px 0 0 2px;
  outline: none;
  border-color: #45b6f7;
  font-size: 16px;
}

.site-search-form .search-btn{
  width: 108px;
  height: 50px;
  background-color: #45b6f7;
  border-radius: 0 2px 2px 0;
  outline: none;
  cursor: pointer;
  float: left;
}

.icon-search-site{
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/icon-search.png) no-repeat;
}

.icon-search{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background: url(../images/search.png)no-repeat;
}

.icon-close{
  background-size: 18px 18px;
  background: url(../images/close.png)no-repeat;
}

.module-body {
  padding: 10px 0;
  min-height: 600px;

}

.module-footer {
  height: 100px;
  background-color: #96c;
}

.module-content {
  width: 1200px;
  margin: 0 auto;
}

.top-link {
  float: right;
  color: #999;
}

.top-link a{
  color: #999;
}

.top-link li {
  float: left;
  font-size: 14px;
  padding: 0 15px;
  line-height: 50px;
}

.headr-top-menu a:hover {
  text-decoration: none;
  color: #45b6f7;
}



.header-logo-brond .logo {
  width: 137px;
  height: 32px;
  float: left;
}

.header-logo-brond .brond {
  float: left;
  width: 100px;
  height: 30px;
  color: #bbb;
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 2px;
  border-left: 2px solid #eaeaea;
}

.brond p {
  margin-top: -3px;
}

.web-navbar {
  padding-top: 10px;
}

.header-logo-brond{
  margin-top: 60px;

}

.web-navbar li a:hover{
  text-decoration: none;
}

.web-navbar>ul>li {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  position: relative;
  z-index: 2;

}

.sub-menu {
  display: none;
  position: absolute;
  padding: 8px 0;
  top: 25px;
  left: -10px;
  min-width: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.web-navbar>ul>li.nav-search{
  margin-top: 2px;

}

.icon-search{
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/search.png) no-repeat;
  background-size: 18px 18px;
}

.icon-search:hover{
  background: url(../images/search-hover.png)no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.sub-menu li a{
  display: block;

  font-size: 14px;
  line-height: 32px;
  padding: 0 50px 0 20px;
}
.sub-menu li a:hover{
  background-color: #f6f6f6;
  text-decoration: none;

}

.web-navbar>ul>li:hover .sub-menu{
  display: block;
  z-index: 2;
}


/* body 主体部分*/
.moudle-main{
  float: left;
  width: 820px;
  min-height: 500px;


}
/* banner start */
.moudle-bannar{
  height: 200px;
  background: #45b6f7;
}

.banner-box{width: 820px;height: 200px;position:relative;text-align:center;overflow: hidden;}
.banner-box .img{width:5000px;position:absolute;top:0;left:0;}
.banner-box .img li{float:left;}
.banner-box .li{width:100%;position:absolute;left:0;bottom:10px;}
.banner-box .li li{width:10px;height:10px;background:#ccc;border-radius:50%;display:inline-block;margin:0 3px;cursor:pointer;}
.banner-box .but{position: absolute;top:50%;margin-top:-30px;width:38px;height:60px;line-height:60px;text-align:center;font-size: 30px;background:rgba(0,0,0,0.5);color:#fff;font-family: '宋体';cursor:pointer;display: none;}
.banner-box:hover .but{display:block;}
.banner-box .but-left{left:0;}
.banner-box .but-right{right:0;}
.banner-box .li .index{background:#f60;width: 30px;border-radius:10px;}
.banner-box .bar{ position: absolute; left: 0; bottom: 0; height: 5px; background-color: hsla(24,100%,50%,0.5); }
/* banner end */

.bannar-right{
  height: 140px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.bannar-right .txt-red{
  font-size: 18px;
  color: #ff5f52;
  float: left;
  margin-top: 10px;
}

.txt-red:hover{
  color: #45b6f7;
  transition-duration: 0.25s, 0.25s;
}

.bannar-right .ad-link{
  font-size: 18px;
  display: inline-block;
  margin: 10px auto auto 5px;
  color: #555;
}

.bannar-right .ad-link:hover{
  color: #45b6f7;
}

.info-ad{
  color: #666;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  padding-top: 5px;
  text-indent: 30px;
}

.column-title{
  height: 22px;
  margin-bottom: 10px;
  color: #555;
}

.column-title h2{
  font-size: 20px;
  font-weight: normal;
  float: left;
  height: 22px;
  margin-bottom: 10px;

}

.more{
  font-size: 14px;
  color: #999;
}

.bannar-list{
  min-height: 600px;
  background: rgb(0, 255, 242);
}

.list-box{
  min-height: 150px;
  padding: 20px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.list-box:hover{
  background-color: #f9f9f9;
}

.article-img{
  width: 220px;
  height: 150px;
  margin-right: 15px;

}

.article-info .title  .tit-link:hover{
  color: #45b6f7;
}

.article-info .title a:hover{
  text-decoration: none;

}

.article-info .title .cat{

  font-size: 12px;
  padding: 4px 5px;
  color: #fff;
  background: #45bcf9;
  font-weight: normal;
  float: left;
}

.cat:hover{
  opacity: 0.85;
}

.icon-c{
  float: left;
  margin-top: 8px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #45bcf9;
}

.article-info .title .tit-link{
  color: #555;
  margin-left: 5px;
  font-size: 18px;

}

.meta{
  margin: 10px 0;
}

.meta i{
  position: relative;
  padding: 0 15px;
  color: #999;
}

.meta i::before{
  display: inline-block;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  content:'' ;
  position: absolute;
}



.meta .icon-time::before{
  background: url(../images/Time.png) no-repeat;
  background-size: 12px 12px;
}



.meta .icon-user::before{
  background: url(../images/user.png) no-repeat;
  background-size: 12px 12px;
}

.desc{
  text-indent: 20px;
  color: #999;
  line-height: 1.8;

}

.tianqi-red{
  color: #ff5f52;
}

.tianqi-red:hover{
  color: #45bcf9;
}

/* moudle-sidbar start */

.moudle-sidbar{
  float: right;
  min-height: 900px;
  background: rgb(255,139,139);
  width: 360px;

}

.affiche{
  height: 200px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.web-affiche{
  height: 36px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eaeaea;

}

.main-affiche{
  background-color: #fff;
  font-weight: bold;
  border-right: 1px solid #eaeaea;
  text-align: center;
  width: 25%;
  line-height: 36px;
  font-size: 14px;
  height: 37px;
}

.affiche-content-box{
  width: 358px;
  height: 175px;
  padding: 15px;
  position: absolute;
  box-sizing: border-box;

}

.affiche-content-box>ul>li{
    box-sizing: border-box;
    float: left;
    width: 328px;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 17px;

}

.affiche-content-box>li,a{
  font-weight: bold;
  color: #666;
}

.affiche-content-box time{
  float: right;
}

.adr{


}

.adr .adr-ad{
  width: 360px;
  height: 150px;
  margin-bottom: 15px;
  background-color: yellow;
  display: block;
  background: url(../images/adr.jpg) no-repeat;
}
